web/WEB-INF/wsdl/localhost_8080/WS_Campanya/WS_Campanya.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.a6.uma.es/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.a6.uma.es/" name="WS_Campanya">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.a6.uma.es/" schemaLocation="http://localhost:8080/WS_Campanya/WS_Campanya?xsd=1"/>
</xsd:schema>
</types>
<message name="remove">
<part name="parameters" element="tns:remove"/>
</message>
<message name="count">
<part name="parameters" element="tns:count"/>
</message>
<message name="countResponse">
<part name="parameters" element="tns:countResponse"/>
</message>
<message name="find">
<part name="parameters" element="tns:find"/>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="edit">
<part name="parameters" element="tns:edit"/>
</message>
<message name="findRange">
<part name="parameters" element="tns:findRange"/>
</message>
<message name="findRangeResponse">
<part name="parameters" element="tns:findRangeResponse"/>
</message>
<message name="findAllOrderedByName">
<part name="parameters" element="tns:findAllOrderedByName"/>
</message>
<message name="findAllOrderedByNameResponse">
<part name="parameters" element="tns:findAllOrderedByNameResponse"/>
</message>
<message name="findAllOrderedByDateAsc">
<part name="parameters" element="tns:findAllOrderedByDateAsc"/>
</message>
<message name="findAllOrderedByDateAscResponse">
<part name="parameters" element="tns:findAllOrderedByDateAscResponse"/>
</message>
<message name="findAllOrderedByDateDesc">
<part name="parameters" element="tns:findAllOrderedByDateDesc"/>
</message>
<message name="findAllOrderedByDateDescResponse">
<part name="parameters" element="tns:findAllOrderedByDateDescResponse"/>
</message>
<message name="findByModulo">
<part name="parameters" element="tns:findByModulo"/>
</message>
<message name="findByModuloResponse">
<part name="parameters" element="tns:findByModuloResponse"/>
</message>
<portType name="WS_Campanya">
<operation name="remove">
<input wsam:Action="http://ws.a6.uma.es/WS_Campanya/remove" message="tns:remove"/>
</operation>
<operation name="count">
<input wsam:Action="http://ws.a6.uma.es/WS_Campanya/countRequest" message="tns:count"/>
<output wsam:Action="http://ws.a6.uma.es/WS_Campanya/countResponse" message="tns:countResponse"/>
</operation>
<operation name="find">
<input wsam:Action="http://ws.a6.uma.es/WS_Campanya/findRequest" message="tns:find"/>
<output wsam:Action="http://ws.a6.uma.es/WS_Campanya/findResponse" message="tns:findResponse"/>
</operation>
<operation name="create">
<input wsam:Action="http://ws.a6.uma.es/WS_Campanya/create" message="tns:create"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://ws.a6.uma.es/WS_Campanya/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://ws.a6.uma.es/WS_Campanya/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="edit">
<input wsam:Action="http://ws.a6.uma.es/WS_Campanya/edit" message="tns:edit"/>
</operation>
<operation name="findRange">
<input wsam:Action="http://ws.a6.uma.es/WS_Campanya/findRangeRequest" message="tns:findRange"/>
<output wsam:Action="http://ws.a6.uma.es/WS_Campanya/findRangeResponse" message="tns:findRangeResponse"/>
</operation>
<operation name="findAllOrderedByName">
<input wsam:Action="http://ws.a6.uma.es/WS_Campanya/findAllOrderedByNameRequest" message="tns:findAllOrderedByName"/>
<output wsam:Action="http://ws.a6.uma.es/WS_Campanya/findAllOrderedByNameResponse" message="tns:findAllOrderedByNameResponse"/>
</operation>
<operation name="findAllOrderedByDateAsc">
<input wsam:Action="http://ws.a6.uma.es/WS_Campanya/findAllOrderedByDateAscRequest" message="tns:findAllOrderedByDateAsc"/>
<output wsam:Action="http://ws.a6.uma.es/WS_Campanya/findAllOrderedByDateAscResponse" message="tns:findAllOrderedByDateAscResponse"/>
</operation>
<operation name="findAllOrderedByDateDesc">
<input wsam:Action="http://ws.a6.uma.es/WS_Campanya/findAllOrderedByDateDescRequest" message="tns:findAllOrderedByDateDesc"/>
<output wsam:Action="http://ws.a6.uma.es/WS_Campanya/findAllOrderedByDateDescResponse" message="tns:findAllOrderedByDateDescResponse"/>
</operation>
<operation name="findByModulo">
<input wsam:Action="http://ws.a6.uma.es/WS_Campanya/findByModuloRequest" message="tns:findByModulo"/>
<output wsam:Action="http://ws.a6.uma.es/WS_Campanya/findByModuloResponse" message="tns:findByModuloResponse"/>
</operation>
</portType>
<binding name="WS_CampanyaPortBinding" type="tns:WS_Campanya">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="remove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="count">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="find">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="edit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllOrderedByName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllOrderedByDateAsc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllOrderedByDateDesc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findByModulo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WS_Campanya">
<port name="WS_CampanyaPort" binding="tns:WS_CampanyaPortBinding">
<soap:address location="http://localhost:8080/WS_Campanya/WS_Campanya"/>
</port>
</service>
</definitions>