web/WEB-INF/wsdl/localhost_8080/WS_Modulo/WS_Modulo.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.a6.uma.es/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.a6.uma.es/" name="WS_Modulo">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.a6.uma.es/" schemaLocation="http://localhost:8080/WS_Modulo/WS_Modulo?xsd=1"/>
</xsd:schema>
</types>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="edit">
<part name="parameters" element="tns:edit"/>
</message>
<message name="findAllOrderedByName">
<part name="parameters" element="tns:findAllOrderedByName"/>
</message>
<message name="findAllOrderedByNameResponse">
<part name="parameters" element="tns:findAllOrderedByNameResponse"/>
</message>
<message name="findAllOrderedByAlpha">
<part name="parameters" element="tns:findAllOrderedByAlpha"/>
</message>
<message name="findAllOrderedByAlphaResponse">
<part name="parameters" element="tns:findAllOrderedByAlphaResponse"/>
</message>
<message name="findAllOrderedByBeta">
<part name="parameters" element="tns:findAllOrderedByBeta"/>
</message>
<message name="findAllOrderedByBetaResponse">
<part name="parameters" element="tns:findAllOrderedByBetaResponse"/>
</message>
<message name="findAllOrderedByKappa">
<part name="parameters" element="tns:findAllOrderedByKappa"/>
</message>
<message name="findAllOrderedByKappaResponse">
<part name="parameters" element="tns:findAllOrderedByKappaResponse"/>
</message>
<message name="findAllOrderedByGamma">
<part name="parameters" element="tns:findAllOrderedByGamma"/>
</message>
<message name="findAllOrderedByGammaResponse">
<part name="parameters" element="tns:findAllOrderedByGammaResponse"/>
</message>
<message name="findModuloByCampaña">
<part name="parameters" element="tns:findModuloByCampaña"/>
</message>
<message name="findModuloByCampañaResponse">
<part name="parameters" element="tns:findModuloByCampañaResponse"/>
</message>
<message name="findRange">
<part name="parameters" element="tns:findRange"/>
</message>
<message name="findRangeResponse">
<part name="parameters" element="tns:findRangeResponse"/>
</message>
<message name="remove">
<part name="parameters" element="tns:remove"/>
</message>
<message name="count">
<part name="parameters" element="tns:count"/>
</message>
<message name="countResponse">
<part name="parameters" element="tns:countResponse"/>
</message>
<message name="find">
<part name="parameters" element="tns:find"/>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<portType name="WS_Modulo">
<operation name="findAll">
<input wsam:Action="http://ws.a6.uma.es/WS_Modulo/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://ws.a6.uma.es/WS_Modulo/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="edit">
<input wsam:Action="http://ws.a6.uma.es/WS_Modulo/edit" message="tns:edit"/>
</operation>
<operation name="findAllOrderedByName">
<input wsam:Action="http://ws.a6.uma.es/WS_Modulo/findAllOrderedByNameRequest" message="tns:findAllOrderedByName"/>
<output wsam:Action="http://ws.a6.uma.es/WS_Modulo/findAllOrderedByNameResponse" message="tns:findAllOrderedByNameResponse"/>
</operation>
<operation name="findAllOrderedByAlpha">
<input wsam:Action="http://ws.a6.uma.es/WS_Modulo/findAllOrderedByAlphaRequest" message="tns:findAllOrderedByAlpha"/>
<output wsam:Action="http://ws.a6.uma.es/WS_Modulo/findAllOrderedByAlphaResponse" message="tns:findAllOrderedByAlphaResponse"/>
</operation>
<operation name="findAllOrderedByBeta">
<input wsam:Action="http://ws.a6.uma.es/WS_Modulo/findAllOrderedByBetaRequest" message="tns:findAllOrderedByBeta"/>
<output wsam:Action="http://ws.a6.uma.es/WS_Modulo/findAllOrderedByBetaResponse" message="tns:findAllOrderedByBetaResponse"/>
</operation>
<operation name="findAllOrderedByKappa">
<input wsam:Action="http://ws.a6.uma.es/WS_Modulo/findAllOrderedByKappaRequest" message="tns:findAllOrderedByKappa"/>
<output wsam:Action="http://ws.a6.uma.es/WS_Modulo/findAllOrderedByKappaResponse" message="tns:findAllOrderedByKappaResponse"/>
</operation>
<operation name="findAllOrderedByGamma">
<input wsam:Action="http://ws.a6.uma.es/WS_Modulo/findAllOrderedByGammaRequest" message="tns:findAllOrderedByGamma"/>
<output wsam:Action="http://ws.a6.uma.es/WS_Modulo/findAllOrderedByGammaResponse" message="tns:findAllOrderedByGammaResponse"/>
</operation>
<operation name="findModuloByCampaña">
<input wsam:Action="http://ws.a6.uma.es/WS_Modulo/findModuloByCampañaRequest" message="tns:findModuloByCampaña"/>
<output wsam:Action="http://ws.a6.uma.es/WS_Modulo/findModuloByCampañaResponse" message="tns:findModuloByCampañaResponse"/>
</operation>
<operation name="findRange">
<input wsam:Action="http://ws.a6.uma.es/WS_Modulo/findRangeRequest" message="tns:findRange"/>
<output wsam:Action="http://ws.a6.uma.es/WS_Modulo/findRangeResponse" message="tns:findRangeResponse"/>
</operation>
<operation name="remove">
<input wsam:Action="http://ws.a6.uma.es/WS_Modulo/remove" message="tns:remove"/>
</operation>
<operation name="count">
<input wsam:Action="http://ws.a6.uma.es/WS_Modulo/countRequest" message="tns:count"/>
<output wsam:Action="http://ws.a6.uma.es/WS_Modulo/countResponse" message="tns:countResponse"/>
</operation>
<operation name="find">
<input wsam:Action="http://ws.a6.uma.es/WS_Modulo/findRequest" message="tns:find"/>
<output wsam:Action="http://ws.a6.uma.es/WS_Modulo/findResponse" message="tns:findResponse"/>
</operation>
<operation name="create">
<input wsam:Action="http://ws.a6.uma.es/WS_Modulo/create" message="tns:create"/>
</operation>
</portType>
<binding name="WS_ModuloPortBinding" type="tns:WS_Modulo">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="edit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAllOrderedByName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllOrderedByAlpha">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllOrderedByBeta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllOrderedByKappa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllOrderedByGamma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findModuloByCampaña">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="remove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="count">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="find">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="WS_Modulo">
<port name="WS_ModuloPort" binding="tns:WS_ModuloPortBinding">
<soap:address location="http://localhost:8080/WS_Modulo/WS_Modulo"/>
</port>
</service>
</definitions>