web/WEB-INF/wsdl/localhost_8080/WS_Modulo/WS_Modulo.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.a6.uma.es/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.a6.uma.es/">

<xs:element name="campaña" type="tns:campaña"/>

<xs:element name="count" type="tns:count"/>

<xs:element name="countResponse" type="tns:countResponse"/>

<xs:element name="create" type="tns:create"/>

<xs:element name="edit" type="tns:edit"/>

<xs:element name="find" type="tns:find"/>

<xs:element name="findAll" type="tns:findAll"/>

<xs:element name="findAllOrderedByAlpha" type="tns:findAllOrderedByAlpha"/>

<xs:element name="findAllOrderedByAlphaResponse" type="tns:findAllOrderedByAlphaResponse"/>

<xs:element name="findAllOrderedByBeta" type="tns:findAllOrderedByBeta"/>

<xs:element name="findAllOrderedByBetaResponse" type="tns:findAllOrderedByBetaResponse"/>

<xs:element name="findAllOrderedByGamma" type="tns:findAllOrderedByGamma"/>

<xs:element name="findAllOrderedByGammaResponse" type="tns:findAllOrderedByGammaResponse"/>

<xs:element name="findAllOrderedByKappa" type="tns:findAllOrderedByKappa"/>

<xs:element name="findAllOrderedByKappaResponse" type="tns:findAllOrderedByKappaResponse"/>

<xs:element name="findAllOrderedByName" type="tns:findAllOrderedByName"/>

<xs:element name="findAllOrderedByNameResponse" type="tns:findAllOrderedByNameResponse"/>

<xs:element name="findAllResponse" type="tns:findAllResponse"/>

<xs:element name="findModuloByCampaña" type="tns:findModuloByCampaña"/>

<xs:element name="findModuloByCampañaResponse" type="tns:findModuloByCampañaResponse"/>

<xs:element name="findModuloByNombre" type="tns:findModuloByNombre"/>

<xs:element name="findModuloByNombreResponse" type="tns:findModuloByNombreResponse"/>

<xs:element name="findRange" type="tns:findRange"/>

<xs:element name="findRangeResponse" type="tns:findRangeResponse"/>

<xs:element name="findResponse" type="tns:findResponse"/>

<xs:element name="modulo" type="tns:modulo"/>

<xs:element name="remove" type="tns:remove"/>

<xs:complexType name="findModuloByNombre">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findModuloByNombreResponse">
<xs:sequence>
<xs:element name="return" type="tns:modulo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="modulo">
<xs:sequence>
<xs:element name="alpha" type="xs:double"/>
<xs:element name="beta" type="xs:double"/>
<xs:element name="gamma" type="xs:double"/>
<xs:element name="kappa" type="xs:double"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRange">
<xs:sequence>
<xs:element name="range" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeResponse">
<xs:sequence>
<xs:element name="return" type="tns:modulo" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="edit">
<xs:sequence>
<xs:element name="entity" type="tns:modulo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="count">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="remove">
<xs:sequence>
<xs:element name="entity" type="tns:modulo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAll">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllResponse">
<xs:sequence>
<xs:element name="return" type="tns:modulo" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllOrderedByAlpha">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllOrderedByAlphaResponse">
<xs:sequence>
<xs:element name="return" type="tns:modulo" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findModuloByCampaña">
<xs:sequence>
<xs:element name="c" type="tns:campaña" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="campaña">
<xs:sequence>
<xs:element name="fecha" type="xs:dateTime" minOccurs="0"/>
<xs:element name="modulo" type="tns:modulo" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findModuloByCampañaResponse">
<xs:sequence>
<xs:element name="return" type="tns:modulo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="find">
<xs:sequence>
<xs:element name="id" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findResponse">
<xs:sequence>
<xs:element name="return" type="tns:modulo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllOrderedByKappa">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllOrderedByKappaResponse">
<xs:sequence>
<xs:element name="return" type="tns:modulo" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllOrderedByGamma">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllOrderedByGammaResponse">
<xs:sequence>
<xs:element name="return" type="tns:modulo" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllOrderedByBeta">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllOrderedByBetaResponse">
<xs:sequence>
<xs:element name="return" type="tns:modulo" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="create">
<xs:sequence>
<xs:element name="entity" type="tns:modulo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllOrderedByName">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllOrderedByNameResponse">
<xs:sequence>
<xs:element name="return" type="tns:modulo" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
